
.gradle/
build/
**/build/
.lock
.bin/
.idea/
*.iws
*.iml
*.ipr
out/
**/out/
.metadata/
.classpath
.project
.settings/
**/src/main/resources/application-local.yaml
**/src/main/resources/application-local.properties
.env
.env.local
*.log
logs/
**/logs/
.DS_Store
Thumbs.db
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/resources/application.yaml
!**/src/main/resources/application.properties